form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 25rem;
    margin: 2rem auto;
}

input, button {
    font-size: 1rem;
    padding: 0.5rem;
}

button {
    width: 8rem;
    background: rgb(52, 205, 52);
    color: white;
    border: none;
    height: 2.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

nav {
    display: flex;
    gap: 1rem;
}